body{
  text-align: center;
  background-color: blanchedalmond;
  color: black;
}
h1{
  color: white;
}
.logo img{
  height: 150px;
}
.jumbotron{
  background: url(../images/spicy-chicken.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.images{
height: 300px;
width: 600px;
}