body{
  text-align: center;
}
h1{
  color: white;
}
.logo img{
  height: 150px;
}
.jumbotron{
  background: url(../images/spicy-chicken.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}